Literature review/
Reports/Phase1/Report.aux
Reports/Phase1/Report.fdb_latexmk
Reports/Phase1/Report.fls
Reports/Phase1/Report.log
Reports/Phase1/Report.bbl
Reports/Phase1/Report.bbl-SAVE-ERROR
Reports/Phase1/Report.bcf
Reports/Phase1/Report.blg
Reports/Phase1/Report.run.xml
Reports/Phase1/Report.synctex.gz

Reports/Design Phase/GA6_design_phase.aux
Reports/Design Phase/GA6_design_phase.fdb_latexmk
Reports/Design Phase/GA6_design_phase.fls
Reports/Design Phase/GA6_design_phase.log
Reports/Design Phase/GA6_design_phase.bbl
Reports/Design Phase/GA6_design_phase.bbl-SAVE-ERROR
Reports/Design Phase/GA6_design_phase.bcf
Reports/Design Phase/GA6_design_phase.blg
Reports/Design Phase/GA6_design_phase.lof
Reports/Design Phase/GA6_design_phase.lot
Reports/Design Phase/GA6_design_phase.toc
Reports/Design Phase/GA6_design_phase.run.xml
Reports/Design Phase/GA6_design_phase.synctex.gz

Reports/Final Report/GA6_Final_Report.aux
Reports/Final Report/GA6_Final_Report.fdb_latexmk
Reports/Final Report/GA6_Final_Report.fls
Reports/Final Report/GA6_Final_Report.log
Reports/Final Report/GA6_Final_Report.bbl
Reports/Final Report/GA6_Final_Report.bbl-SAVE-ERROR
Reports/Final Report/GA6_Final_Report.bcf
Reports/Final Report/GA6_Final_Report.blg
Reports/Final Report/GA6_Final_Report.lof
Reports/Final Report/GA6_Final_Report.lot
Reports/Final Report/GA6_Final_Report.toc
Reports/Final Report/GA6_Final_Report.run.xml
Reports/Final Report/GA6_Final_Report.synctex.gz

Reports/Final Report Updated/GA6_Final_Updated.aux
Reports/Final Report Updated/GA6_Final_Updated.fdb_latexmk
Reports/Final Report Updated/GA6_Final_Updated.fls
Reports/Final Report Updated/GA6_Final_Updated.log
Reports/Final Report Updated/GA6_Final_Updated.bbl
Reports/Final Report Updated/GA6_Final_Updated.bbl-SAVE-ERROR
Reports/Final Report Updated/GA6_Final_Updated.bcf
Reports/Final Report Updated/GA6_Final_Updated.blg
Reports/Final Report Updated/GA6_Final_Updated.lof
Reports/Final Report Updated/GA6_Final_Updated.lot
Reports/Final Report Updated/GA6_Final_Updated.toc
Reports/Final Report Updated/GA6_Final_Updated.run.xml
Reports/Final Report Updated/GA6_Final_Updated.synctex.gz



frontend/BABYSPHERE/node_modules
node_modules
BabySphere/node_modules
BabySphere/expo-env.d.ts

.expo/



Reports/IASF_2025/iasf_report.aux
Reports/IASF_2025/iasf_report.fdb_latexmk
Reports/IASF_2025/iasf_report.fls
Reports/IASF_2025/iasf_report.log
Reports/IASF_2025/iasf_report.bbl
Reports/IASF_2025/iasf_report.bbl-SAVE-ERROR
Reports/IASF_2025/iasf_report.bcf
Reports/IASF_2025/iasf_report.blg
Reports/IASF_2025/iasf_report.lof
Reports/IASF_2025/iasf_report.lot
Reports/IASF_2025/iasf_report.toc
Reports/IASF_2025/iasf_report.run.xml
Reports/IASF_2025/iasf_report.synctex.gz

venv/
posture-detection/babysphere-3d697-firebase-adminsdk-bx0hc-ea986b3209.json
posture-detection/pyfi-demo-firebase-adminsdk-f64d3-041b367b77.json
node_modules
