Literature review/
Reports/Phase1/Report.aux
Reports/Phase1/Report.fdb_latexmk
Reports/Phase1/Report.fls
Reports/Phase1/Report.log
Reports/Phase1/Report.bbl
Reports/Phase1/Report.bbl-SAVE-ERROR
Reports/Phase1/Report.bcf
Reports/Phase1/Report.blg
Reports/Phase1/Report.run.xml
Reports/Phase1/Report.synctex.gz

Reports/Design Phase/GA6_design_phase.aux
Reports/Design Phase/GA6_design_phase.fdb_latexmk
Reports/Design Phase/GA6_design_phase.fls
Reports/Design Phase/GA6_design_phase.log
Reports/Design Phase/GA6_design_phase.bbl
Reports/Design Phase/GA6_design_phase.bbl-SAVE-ERROR
Reports/Design Phase/GA6_design_phase.bcf
Reports/Design Phase/GA6_design_phase.blg
Reports/Design Phase/GA6_design_phase.lof
Reports/Design Phase/GA6_design_phase.lot
Reports/Design Phase/GA6_design_phase.toc
Reports/Design Phase/GA6_design_phase.run.xml
Reports/Design Phase/GA6_design_phase.synctex.gz


Reports/IASF_2025/iasf_report.aux
Reports/IASF_2025/iasf_report.fdb_latexmk
Reports/IASF_2025/iasf_report.fls
Reports/IASF_2025/iasf_report.log
Reports/IASF_2025/iasf_report.bbl
Reports/IASF_2025/iasf_report.bbl-SAVE-ERROR
Reports/IASF_2025/iasf_report.bcf
Reports/IASF_2025/iasf_report.blg
Reports/IASF_2025/iasf_report.lof
Reports/IASF_2025/iasf_report.lot
Reports/IASF_2025/iasf_report.toc
Reports/IASF_2025/iasf_report.run.xml
Reports/IASF_2025/iasf_report.synctex.gz


frontend/BABYSPHERE/node_modules
node_modules
BabySphere/node_modules

.expo/


Reports/IASF_2025/iasf_report.aux
Reports/IASF_2025/iasf_report.fdb_latexmk
Reports/IASF_2025/iasf_report.fls
Reports/IASF_2025/iasf_report.log
Reports/IASF_2025/iasf_report.bbl
Reports/IASF_2025/iasf_report.bbl-SAVE-ERROR
Reports/IASF_2025/iasf_report.bcf
Reports/IASF_2025/iasf_report.blg
Reports/IASF_2025/iasf_report.lof
Reports/IASF_2025/iasf_report.lot
Reports/IASF_2025/iasf_report.toc
Reports/IASF_2025/iasf_report.run.xml
Reports/IASF_2025/iasf_report.synctex.gz

venv/
posture-detection/babysphere-3d697-firebase-adminsdk-bx0hc-ea986b3209.json
posture-detection/pyfi-demo-firebase-adminsdk-f64d3-041b367b77.json
