Literature review/
Reports/Phase1/Report.aux
Reports/Phase1/Report.fdb_latexmk
Reports/Phase1/Report.fls
Reports/Phase1/Report.log
Reports/Phase1/Report.bbl
Reports/Phase1/Report.bbl-SAVE-ERROR
Reports/Phase1/Report.bcf
Reports/Phase1/Report.blg
Reports/Phase1/Report.run.xml
Reports/Phase1/Report.synctex.gz

Reports/Design Phase/GA6_design_phase.aux
Reports/Design Phase/GA6_design_phase.fdb_latexmk
Reports/Design Phase/GA6_design_phase.fls
Reports/Design Phase/GA6_design_phase.log
Reports/Design Phase/GA6_design_phase.bbl
Reports/Design Phase/GA6_design_phase.bbl-SAVE-ERROR
Reports/Design Phase/GA6_design_phase.bcf
Reports/Design Phase/GA6_design_phase.blg
Reports/Design Phase/GA6_design_phase.lof
Reports/Design Phase/GA6_design_phase.lot
Reports/Design Phase/GA6_design_phase.toc
Reports/Design Phase/GA6_design_phase.run.xml
Reports/Design Phase/GA6_design_phase.synctex.gz